#loader {
    position: fixed;
    z-index: 9999;
    top: 0;
    opacity: 1;

    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--lightwhite);
    display: flex;
    justify-content: center;
    align-items: center;
}
#loader.close {
    opacity: 0;
    transition: 0.5s;
    z-index: -9999;
}
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    background-image: url(../images/logo-tp.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 5px solid var(--primary);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--primary) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
